In [2]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [2]:
df = sqlContext.read.format('com.databricks.spark.xml').options(rowTag='book').load('books.xml')

In [9]:
df.select("author", "@id").write \
    .format('com.databricks.spark.xml') \
    .options(rowTag='book', rootTag='books') \

In [3]:
text = sqlContext.read.format('com.databricks.spark.xml').options(rowTag="entity").load('07.xml')

In [235]:
reduce(text.full_text)

NameError: name 'reduce' is not defined

In [67]:
sqlContext.read.format('com.databricks.spark.xml').options(rowTag="entity").load('01.xml')

DataFrame[full_text: string, links: struct<continuation_from:string,continuation_to:string,first_id:string,last_id:string,next_id:string,prev_id:string,source:string>, meta: struct<box:string,entity_type:string,id:string,issue_date:string,language:string,name:string,page_no:bigint,publication:string,snp:string,suspicious_chars_count:bigint,total_chars_count:bigint,updated_char_count:bigint,updated_word_count:bigint,word_count:bigint>]

In [26]:
text = sqlContext.read.format('com.databricks.spark.xml').options(rowTag="entity").load('01.xml')

In [94]:
text.printSchema()

root
 |-- full_text: string (nullable = true)
 |-- links: struct (nullable = true)
 |    |-- continuation_from: string (nullable = true)
 |    |-- continuation_to: string (nullable = true)
 |    |-- first_id: string (nullable = true)
 |    |-- last_id: string (nullable = true)
 |    |-- next_id: string (nullable = true)
 |    |-- prev_id: string (nullable = true)
 |    |-- source: string (nullable = true)
 |-- meta: struct (nullable = true)
 |    |-- box: string (nullable = true)
 |    |-- entity_type: string (nullable = true)
 |    |-- id: string (nullable = true)
 |    |-- issue_date: string (nullable = true)
 |    |-- language: string (nullable = true)
 |    |-- name: string (nullable = true)
 |    |-- page_no: long (nullable = true)
 |    |-- publication: string (nullable = true)
 |    |-- snp: string (nullable = true)
 |    |-- suspicious_chars_count: long (nullable = true)
 |    |-- total_chars_count: long (nullable = true)
 |    |-- updated_char_count: long (nullable = true)
 |    |-- updated_word_count: long (nullable = true)
 |    |-- word_count: long (nullable = true)

In [63]:
text.head(1)[0].full_text

"SVaud Depuis qu'ils passent en direct sur la télévision locale, les élus lausannois font du zèle 9 Genève Les dossiers médicaux antérieurs à 1950 seront désormais accessibles aux historiens 11 Economie En Suisse, le marché de l'automobile a fait du surplace en 1995 Services 16 Décès, 17 Carnet, 18 Cinémas, 19 Télévision 20 Météo, « 24 heures »"

In [100]:
text.show(2,truncate= True)

+--------------------+--------------------+--------------------+
|           full_text|               links|                meta|
+--------------------+--------------------+--------------------+
|SVaud Depuis qu'i...|[null,null,Ar0010...|[23 400 1220 492,...|
|ÉDITORIAL Ce sont...|[null,null,Ar0010...|[30 542 230 2019,...|
+--------------------+--------------------+--------------------+
only showing top 2 rows

Number of rows in the dataFrame.

In [40]:
text.count()

3446

Number of columns in the dataFram.

In [103]:
print(text.columns)
len(text.columns)

['full_text', 'links', 'meta']

3

In [44]:
text.select('meta.box')

DataFrame[box: string]

In [140]:
text.select('full_text').distinct().count()

2900

In [165]:
text.show(3)

+--------------------+--------------------+--------------------+
|           full_text|               links|                meta|
+--------------------+--------------------+--------------------+
|SVaud Depuis qu'i...|[null,null,Ar0010...|[23 400 1220 492,...|
|ÉDITORIAL Ce sont...|[null,null,Ar0010...|[30 542 230 2019,...|
|ïn Thaïlande, l'â...|[null,null,Ar0010...|[243 562 1095 151...|
+--------------------+--------------------+--------------------+
only showing top 3 rows

In [213]:
#import pyspark.sql.functions.explode

text.select('meta.suspicious_chars_count')

DataFrame[suspicious_chars_count: bigint]

In [204]:
text.select('meta')

DataFrame[meta: struct<box:string,entity_type:string,id:string,issue_date:string,language:string,name:string,page_no:bigint,publication:string,snp:string,suspicious_chars_count:bigint,total_chars_count:bigint,updated_char_count:bigint,updated_word_count:bigint,word_count:bigint>]

In [161]:
text.select('meta')

DataFrame[meta: struct<box:string,entity_type:string,id:string,issue_date:string,language:string,name:string,page_no:bigint,publication:string,snp:string,suspicious_chars_count:bigint,total_chars_count:bigint,updated_char_count:bigint,updated_word_count:bigint,word_count:bigint>]

In [93]:
type(text)

pyspark.sql.dataframe.DataFrame

In [46]:
text.select('full_text').first()

Row(full_text="SVaud Depuis qu'ils passent en direct sur la télévision locale, les élus lausannois font du zèle 9 Genève Les dossiers médicaux antérieurs à 1950 seront désormais accessibles aux historiens 11 Economie En Suisse, le marché de l'automobile a fait du surplace en 1995 Services 16 Décès, 17 Carnet, 18 Cinémas, 19 Télévision 20 Météo, « 24 heures »")

In [78]:
text.select('full_text').map(lambda x: x.full_text.lower().split()).first()

['svaud',
 'depuis',
 "qu'ils",
 'passent',
 'en',
 'direct',
 'sur',
 'la',
 'télévision',
 'locale,',
 'les',
 'élus',
 'lausannois',
 'font',
 'du',
 'zèle',
 '9',
 'genève',
 'les',
 'dossiers',
 'médicaux',
 'antérieurs',
 'à',
 '1950',
 'seront',
 'désormais',
 'accessibles',
 'aux',
 'historiens',
 '11',
 'economie',
 'en',
 'suisse,',
 'le',
 'marché',
 'de',
 "l'automobile",
 'a',
 'fait',
 'du',
 'surplace',
 'en',
 '1995',
 'services',
 '16',
 'décès,',
 '17',
 'carnet,',
 '18',
 'cinémas,',
 '19',
 'télévision',
 '20',
 'météo,',
 '«',
 '24',
 'heures',
 '»']

In [61]:
text.select('meta.issue_date').first().issue_date

'03/01/1996'

Direct access to text.

In [29]:
textTest = text.select('full_text').take(10)[9].full_text
text.select('full_text').take(10)[9].full_text

"AIT se restructure et annonce la suppression de 40 000 emplois Pour rester compétitif, le géant américain du téléphone entend supprimer près de 10 % de ses effectifs, qui sont de 300 ooo personnes dont 50 ooo àl'étranger e géant américain du téléphone ATT a annoncé mardi 40 000 suppressions'd'emplois, soit plus de 10 nombre total de ses employés, dans le cadre dé son programme de restructuration. ATT emploie actuellement quelque 300 000 personnes, dont 50 000 à l'étranger. « Je pense que les réductions (d'effectifs) et d'autres actions sont absolument nécessaires si nos entreprises veulent rester compétitives », a déclaré dans un communiqué le président directeur général de ATT Robert Allen. Quelque 70 % des suppressions d'emplois seront effectives ides cette année. ATT a annoncé en septembre son éclatement en trois nouvelles compagnies : télécommunications, systèmes et technologie et la division informatique, Global Information Systems. La compagnie a annoncé une provision de quelque 6 milliards de dollars pour réaliser cette restructuration qu'elle compte boucler d'ici la fin de l'année. Ceci réduira les profits au quatrième trimestre 1995 de 2,5 dollars paraction.. Environ 6500 employés avaient Accepté fin 1995 une offre de départ volontaire et ATT estime que 4000 autres personnes, travaillant pour des filiales qui doivent être vendues, pourront sans doute conserver leur emploi. Ceci réduira à 30 000 le nombre de licenciements, selon la compagnie. Basé sur le chiffre d'affaires de 67 milliards de dollars en 1994, l'éclatement d'ATT est le plus grand jamais opéré. Il surpasse le précédent en 1984 quand le Gouvernement américain avait mis fin au monopole de la compagnie dans les télécommunications à longue distance qui avait ouvert la voie au développement de MCI et de Sprint. En octobre, la Commission fédérale des communications (FCC) avait décidé de ne plus considérer ATT comme une compagnie de téléphone dominante, permettant au numéro un américain des télécommunications longue distance de modifier rapidement ses tarifs pour réagir à la concurrence. La part du marché des télécommunications longue distance détenue par ATT aux Etats-Unis est tombée de 88 % à 58 % depuis 1984. Le marché est actuellement évalué à 70 milliards de dollars. (AFP)"

In [5]:
sc.parallelize(textTest).map(lambda x: x.split(","))

PythonRDD[21] at RDD at PythonRDD.scala:43

In [113]:
lines = sc.parallelize([textTest]) 
one = lines.map( lambda x: x.replace(',',' ').replace('.',' ').replace('-',' ').lower())
two = lines.flatMap(lambda x: x.split(' '))
three = two.map(lambda x: (x, 1))
four = three.reduceByKey(lambda x,y:x+y)
five = four.map(lambda x:(x[1],x[0]))
six = five.sortByKey(False).take(5)
six

[(24, 'de'), (8, 'le'), (8, 'la'), (7, 'ATT'), (6, 'et')]

In [122]:
lines = sc.parallelize([textTest]) 
one = lines.map( lambda x: x.replace(',',' ').replace('.',' ').replace('-',' ').lower())
two = lines.flatMap(lambda x: x.split(' '))
three = two.map(lambda x: (x, 1))
four = three.groupByKey().map(lambda x : (x[0], list(x[1]))).take(2)
four

[('trois', [1]), ('conserver', [1])]

In [28]:
text.select('full_text').map( lambda x: x.full_text.replace(',',' ').replace('.',' ').replace('-',' ').replace("'",' ').lower())\
                        .map(lambda x: x.split(' '))

PythonRDD[150] at RDD at PythonRDD.scala:43

In [191]:
a = text.select('full_text').map(lambda x: x.full_text.replace(',',' ').replace('.',' ').replace('-',' ').lower())\
                            .map(lambda x: x.split(' ')).take(2)

In [246]:
b = text.select('full_text').map(lambda x: x.full_text.replace(',',' ').replace('.',' ').replace('-',' ').lower())\
                        .flatMap(lambda x: x.split(' '))\
                        .map(lambda x: (x, 1))

In [254]:
b.map(lambda x: x).groupByKey()

PythonRDD[1070] at RDD at PythonRDD.scala:43

In [146]:
a = text.select('full_text').map(lambda x: x.full_text)\
                            .flatMap(lambda doc: [(x, 1) for x in doc.split(' ')]).reduceByKey(add)

In [184]:
a = text.select('full_text').flatMap(lambda x: x.full_text)

In [196]:
from pyspark import SparkContext, SparkConf

In [8]:
textClean = text.select('full_text')

In [59]:
textClean.map(lambda x: x.full_text).flatMap(lambda x: x.split(' ')).map(lambda x: (x,1))\
                                    .reduceByKey(lambda x,y:x+y)\
                                    .map(lambda x:(x[1],x[0]))\
                                    .sortByKey(False)

PythonRDD[145] at RDD at PythonRDD.scala:43

In [63]:
textClean.map(lambda x: x.full_text).flatMap(lambda x: x.split(' ')).take(2)

['9', 'Suisse']

In [260]:
text

DataFrame[full_text: string, links: struct<continuation_from:string,continuation_to:string,first_id:string,last_id:string,next_id:string,prev_id:string,source:string>, meta: struct<box:string,entity_type:string,id:string,issue_date:string,language:string,name:string,page_no:bigint,publication:string,snp:string,suspicious_chars_count:bigint,total_chars_count:bigint,updated_char_count:bigint,updated_word_count:bigint,word_count:bigint>]

In [145]:
from operator import add

In [4]:
#a = text.select('full_text').map(lambda x: x.full_text)\
                            #.map(lambda x: x.split(' ')).collect()

In [303]:
b = None

In [306]:
b == None

True

In [46]:
text.select('links').first().links.source

'103_JDG_1996_01_03_0001.PDF'

In [5]:
#import xml.etree.ElementTree
from bs4 import BeautifulSoup
f = open('07.xml')

#e = xml.etree.ElementTree.parse(f).getroot()
soup = BeautifulSoup(f, 'lxml')

In [ ]:
for s in soup.find_all('article'):
    print(s)

In [6]:
import os
os.listdir()

['.DS_Store',
 '.ipynb_checkpoints',
 '01.xml',
 '02.xml',
 '03.xml',
 '04.xml',
 '05.xml',
 '06.xml',
 '07.xml',
 'books.xml',
 'derby.log',
 'dosingGuidelines.json',
 'metastore_db',
 'test.json',
 'Untitled.ipynb']

In [47]:
e.article

AttributeError: 'xml.etree.ElementTree.Element' object has no attribute 'article'

In [72]:
df = sqlContext.read.json('test.json')

In [73]:
df

DataFrame[_corrupt_record: string]

In [66]:
from bs4 import BeautifulSoup

In [54]:
f = open('07.xml','r')
f_2 = open('02.xml','r')
soup = BeautifulSoup(f,'lxml')
soup2 = BeautifulSoup(f_2,'lxml')

In [58]:
XML = []
XML_2 = []
for ft in soup.find_all('full_text'):
    XML.append(ft.text)
    
for ft in soup2.find_all('full_text'):
    XML_2.append(ft.text)

In [59]:
textXML = ' '.join(XML)
textXML2= ' '.join(XML_2)

In [12]:
%%timeit
countSC = sc.parallelize([textXML]).map(lambda x: x.replace(',',' ').replace('.',' ').replace('-',' ').lower())\
                            .flatMap(lambda x: x.split()) \
                            .map(lambda x: (x, 1)) \
                            .reduceByKey(lambda x,y:x+y) \
                            .map(lambda x:(x[1],x[0])) \
                            .sortByKey(False).collect()

1 loop, best of 3: 1.91 s per loop

In [13]:
from collections import Counter

In [33]:
%%timeit
a =Counter(textXML.replace(',',' ')\
           .replace('.',' ').replace('-',' ').lower().split())
countList = a.most_common(len(a))

10 loops, best of 3: 166 ms per loop

In [60]:
b =Counter(textXML2.replace(',',' ')\
           .replace('.',' ').replace('-',' ').lower().split())
countList2 = b.most_common(len(a))

In [34]:
import pandas as pd

In [61]:
xml_7 = pd.DataFrame(countList).transpose()
xml_2 = pd.DataFrame(countList2).transpose()
xml_7.columns = xml_7.loc[0]
xml_2.columns = xml_2.loc[0]

In [62]:
xml_7 = xml_7.drop(0)
xml_2 = xml_2.drop(0)

In [63]:
xml_7.index = ['01/1998']
xml_2.index = ['02/1998']

In [50]:
xml_7

,de,la,5,le,6,à,et,7,les,00,...,1207,633332,assemblés,l'esb,charpak,sonnelle,cfb,sakofi,par'des,%0
01/1998,8679,4384,3611,3373,2834,2792,2782,2695,2693,2691,...,1,1,1,1,1,1,1,1,1,1

In [64]:
xml_2

,de,la,le,à,et,5,les,2,des,1,...,fihan,d'alphonse,aprèsmidi,espacenoir,quadrature,laforêt,cidessous),6719,restantes,l'avancée
02/1998,75048,36430,28238,24648,24431,23811,23248,22248,20049,19843,...,3,3,3,3,3,3,3,3,3,3

In [ ]:
%%timeit
merge = pd.concat([xml_2,xml_7], axis=0)

In [73]:
merge

,!,!),!);,!*,!;,!»,"""","""""","""''s","""'•",...,•,•',•—,••,•••,••••,•••••,€,™,™™
0,1692,39,4,NaN,11,119,848,7,NaN,NaN,...,63,6,5,23,5,7,5,4,112,4
1,122,NaN,NaN,1,NaN,14,199,NaN,1,1,...,6,NaN,1,NaN,NaN,NaN,NaN,NaN,18,NaN